[submodule "coursework"]
	path = coursework
	url = https://github.com/mrucker/coursework.git
[submodule "projects/abm-via-irl"]
	path = projects/abm-via-irl
	url = https://github.com/mrucker/abm-via-irl.git
[submodule "projects/irl-kernel"]
	path = projects/irl-kernel
	url = https://github.com/mrucker/irl-kernel
[submodule "projects/thesis"]
	path = projects/thesis
	url = https://github.com/mrucker/thesis
